body {
    background-color:#0cfa37;
  }
  .container{
    text-align:center;
    font-family:fantasy;
      background-color:red;
    height:300px;
    width:450px;margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:20px solid yellow;
    border-radius: 50px;
    }
  .btn{
    background-color:#f7ed09;
    color:blue;
    width:79px;
    height:25px;
  }
  .btn:hover{
    background-color:#f5115f;
    color:yellow;
    cursor: pointer;
  }
  .label{
   color:blue;
   font-family: 'Special Elite', cursive;
    }
  .label:hover{
    color:maroon;
  }
  #remember_me:hover{
      cursor: pointer;
      color: blue;
      font-family: 'Coda Caption', sans-serif;
  }
